<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html> <!--indica que es html5-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

<!-- LOGOS LISTOS -->
<div class="logo">
    <img
    width="80"
    alt="Angular Logo"
    src="assets/xtec.png">

    <img
    width="120"
    alt="Angular Logo"
    src="assets/xbattlepong.png">
</div>

<!--Título de la ventana-->

<div class="para_titulo" role="main"  style="margin-top: -50px" >
    <div style = "text-align: center;" >
      <h1 class= "etiqueta_especial" > CREAR PARTIDA  </h1>
</div>

<!-- Elementos para la solicitud del token del evento -->
<div class = "inicio">

    <div class = "elementos_principales" style="margin-left: 50px">

      <!--<label  class="etiqueta_especial" >Token del evento </label>-->
      <input  class="entradas_texto" id="inputToken" #inputToken placeholder="ID del evento">
      <button class="boton" (click)="getRules(inputToken.value)">Crear </button>

    </div>

</div>




<!--Contenedor principal-->
<div class = "contenedor_principal">

    <!--Contenedor para las reglas del evento-->
    <div class = "contenedor">

        <h3 class= "etiqueta_especial" > Reglas del evento: </h3>

        <mat-card class="fondo_informacion">

            <label  class="etiqueta_simple"> Dimensiones {{this.eventRules.filas}} x {{this.eventRules.columnas}}</label>

            <label  class="etiqueta_simple"> Tiempo de disparo: {{this.eventRules.tiempoDeDisparo}}</label>

            <label  class="etiqueta_simple"> Tipo de jugabilidad: {{this.eventRules.tipoDeJugabilidad}}</label>

            <label  class="etiqueta_simple"> Cantidad de barcos: {{this.eventRules.cantidadDeBarcos}}</label>

        </mat-card>

    </div>

    <!--Fin del Contenedor para las reglas del evento-->


    <!--Contenedor para los barcos disponibles en el catálogo
    <div class="contenedor_barcos">

        <h3 class= "etiqueta_especial" > Catálogo de barcos</h3>

        <mat-card class="fondo_informacion">

            <div class="logo">
                    <img
                        width="80"
                        alt="Angular Logo"
                        src="assets/ship_1.png">

                    <img
                        width="120"
                        alt="Angular Logo"
                        src="assets/ship_2.png">

                        <img
                        width="120"
                        alt="Angular Logo"
                        src="assets/ship_3.png">
            </div>

        </mat-card>

    </div>
    Fin del Contenedor para los barcos disponibles en el catálogo -->

</div>
<!--Fin del Contenedor principal-->





<!--
<div class="contenedor_tablero">

    <h3 class= "etiqueta_especial" > Posiciona tus barcos en el mapa de juego</h3>

    <mat-card class="example-card">

        <div class="logo">
                <img
                    width="80"
                    alt="Angular Logo"
                    src="assets/ship_1.png">

                <img
                    width="120"
                    alt="Angular Logo"
                    src="assets/ship_2.png">

                    <img
                    width="120"
                    alt="Angular Logo"
                    src="assets/ship_3.png">
        </div>

    </mat-card>

</div>
-->

<!--
    <button (click)="updateTest()">Prueba</button>
-->
<app-place-ships *ngIf="showBoards"></app-place-ships>

<!--Games search-->

<div class="para_titulo" role="main"  style="margin-top: 50px" >
    <div style = "text-align: center;" >
      <h1 class= "etiqueta_especial" > BUSCAR PARTIDA  </h1>
</div>

<!--Search input-->
<div>

    <div class = "elementos_principales" style="margin-left: 50px">

      <!--<label  class="etiqueta_especial" >Introduce el codigo del evento </label>-->
      <input  class="entradas_texto" id="inputSearch" #inputSearch placeholder="ID del evento">
      <button class="boton" (click)="searchGames(inputSearch.value)">Buscar</button>

    </div>

</div>


<div *ngIf="showGames">
    <label for="games"></label>
    <div id="games">
        <div class="row" *ngFor="let g of games">
            <div class="column">
                ID: {{g.partidasID}}
            </div>
            <div class="column">
                <button class="boton" (click)="joinGame(g.partidasID)">Unirse</button>
            </div>
        </div>
    </div>
</div>