.container {
    display: flex;
  }
  
  .grid-user {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    margin: 20px;
  }
  
  .labelt{
    color: rgb(40, 38, 59);
    text-shadow: 0 0 3px #adda5a;
  }
  
  .grid div {
    width: 40px;
    height: 40px;
  }
  
  .grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: greenyellow;
    margin: 20px;
  }
  
  .grid-display {
    width: 200px;
    height: auto;
    margin: 10px;
    padding: 5px;
    background-color: bisque;
  }
  

  
  .ship div {
    width: 40px;
    height: 40px;
  }
  
  .column {
    float: left;
    width: auto;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    width: auto;
  }