<!--This section has info related to the game-->
<div>
     <button id="rotate" (click)="rotate()">Rotate Your Ships</button>
</div>

<!--In this part we have the display of the ships-->
<div class="grid-display">
<!--Destroyer Ship-->
<div [ngClass]="isHorizontal ? 'ship destroyer-container' : 'ship destroyer-container-vertical'"
     id="destroyer"
     (click)="shipClicked($event)"></div>

<!--Submarine Ship-->
<div [ngClass]="isHorizontal ? 'ship submarine-container' : 'ship submarine-container-vertical'"
     id="submarine"
     (click)="shipClicked($event)"></div>

<!--Battleship Ship-->
<div [ngClass]="isHorizontal ? 'ship battleship-container' : 'ship battleship-container-vertical'"
     id="battleship"
     (click)="shipClicked($event)"></div>
</div>

<!--Game grid:
     Here we create a div that holds a set number of divs that act like the grid tiles or
     squares. We use ngstyle for changing the dimensions of the holder div. To create the
     squares we use *ngFor using the squares list that is based upon the width and height
     of the game grid-->

<div class="row">
     <div class="column">
          <div class="grid-user"
               [ngStyle]="{'width.px': width * 40, 'height.px': height * 40}">
               <div *ngFor="let s of squares"
                    (click)="squareClicked($event)"
                    [ngStyle]="{'backgroundColor': baseColor}"
                    style="height: 40px; width: 40px; box-sizing: border-box; border: 1px solid black"
                    id="{{s}}">
               {{s}}</div>
          </div>
     </div>
     <div class="column">
          <div class="grid-user"
               [ngStyle]="{'width.px': width * 40, 'height.px': height * 40}">
               <div *ngFor="let s of squares"
                    [ngStyle]="{'backgroundColor': baseColor}"
                    style="height: 40px; width: 40px; box-sizing: border-box; border: 1px solid black"
                    id="{{s}}e">
               </div>
          </div>
     </div>
</div>


